canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}

input {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: text;
    border-radius: 4px;
}

input:focus {
    background-color: #F5F5F5;
    outline: none;
}

.command {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
